{% extends 'master.html' %}
{% load static %}
{% block content %}
    <!-- WELCOME -->

  
      <!-- OUR STORY -->
      <section class="py-12">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6">
  
              <!-- Image -->
              <img src="{% static 'img/about/one.png' %}" alt="..." class="img-fluid w-50">
  
              <!-- Image -->
              <div class="text-end mt-n13 mt-lg-n15 mb-10 mb-md-0">
                <img src="{% static 'img/about/two.png' %}" alt="..." class="img-fluid w-75">
              </div>
  
            </div>
            <div class="col-12 col-md-6 col-lg-5">
  
              <!-- Preheading -->
              <h6 class="heading-xxs mb-3 text-gray-400">
                Our story
              </h6>
  
              <!-- Heading -->
              <h2 class="mb-7">About our Store</h2>
  
              <!-- Text -->
              <p class="fs-lg text-muted">
                At Jahz Collections, we believe in the timeless allure of exquisite jewelry. Our passion for craftsmanship, attention to detail, and commitment to quality set us apart in the world of fine jewelry. Step into a realm of elegance, where every piece tells a story and every adornment reflects the brilliance of your individuality.
              </p>
            
  
            </div>
          </div>
        </div>
      </section>
  
      <!-- ABOUT -->
      <section class="py-12 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
  
              <!-- Heading -->
              <h2 class="mb-10">The Art of Craftsmanship</h2>
  
            </div>
          </div>
          <div class="row justify-content-center mb-9 fs-lg text-gray-500">
            <div class="col-12 col-md-5">
  
              <p>
                Each piece in our collection is a testament to the artistry of our skilled craftsmen. Meticulously crafted, our gold and diamond chains, watches, earrings, rings, and more are not just accessories; they are expressions of art that you carry with you. We take pride in using only the finest materials, ensuring that every creation stands the test of time.
              </p>
              
  
            </div>
            <div class="col-12 col-md-6 col-lg-5 fs-lg text-gray-500">
  
              <p>
                Quality is at the heart of everything we do. From sourcing the finest gemstones to hand-selecting each piece of gold, we are dedicated to providing jewelry that transcends expectations. Our commitment to quality extends to our customer service, ensuring a seamless and delightful experience with every purchase.
              </p>
  
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
  
              <!-- Button -->
              <a class="btn btn-dark" href="{% url 'home' %}">
                Shop Now <i class="fe fe-arrow-right ms-2"></i>
              </a>
  
            </div>
          </div>
        </div>
      </section>
  
      <!-- OUR STORY -->
      <section class="py-12">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6 order-md-2 text-end">
  
              <!-- Image -->
              <img src="{% static 'img/about/three.png' %}" alt="..." class="img-fluid w-50">
  
              <!-- Image -->
              <div class="text-start mt-n13 mt-lg-n15 mb-10 mb-md-0">
                <img src="{% static 'img/about/four.png' %}" alt="..." class="img-fluid w-75">
              </div>
  
            </div>
            <div class="col-12 col-md-6 col-lg-5 order-md-1">
  
              <!-- Preheading -->
              <h6 class="heading-xxs mb-3 text-gray-400">
                Who we are
              </h6>
  
              <!-- Heading -->
              <h2 class="mb-7">Our Story</h2>
  
              <!-- Text -->
              <p class="fs-lg text-muted">
               Established 2021, Jahz Collections was born out of a shared love for unparalleled beauty and the desire to provide a curated collection of jewelry that transcends trends. What started as a vision has blossomed into an online destination where sophistication meets innovation.
              </p>
        
  
            </div>
          </div>
        </div>
      </section>
  
      <!-- SLOGAN -->
      <section>
        <div class="container">
          <div class="row justify-content-center py-12 bg-secondary bg-pattern">
            <div class="col-12 col-lg-10 col-xl-8">
  
              <!-- Text -->
              <p class="fs-5 lh-base text-center text-white mb-0">
                Elevate your style with our exquisite gold and diamond jewelry.
              </p>
  
            </div>
          </div>
        </div>
      </section>
  
      <!-- IMAGES -->
      <section class="pt-12">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-5">
  
              <!-- Image -->
              <img class="img-fluid mb-7" src="{% static 'img/about/twelve.png' %}" alt="...">
  
              <!-- Image -->
              <img class="img-fluid mb-7 mb-md-0" src="{% static 'img/about/ten.png' %}" alt="...">
  
            </div>
            <div class="col-12 col-md-6 col-lg-5">
  
              <!-- Image -->
              <img class="img-fluid mb-7 mt-md-12" src="{% static 'img/about/nine.png' %}" alt="...">
  
              <!-- Image -->
              <img class="img-fluid mb-7 mb-md-0" src="{% static 'img/about/eight.png' %}" alt="...">
  
            </div>
          </div>
        </div>
      </section>
  
      <!-- REVIEWS -->
      <section class="pt-12">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
  
              <!-- Preheading -->
              <h6 class="heading-xxs mb-3 text-gray-400">
                What buyers say
              </h6>
  
              <!-- Heading -->
              <h2 class="mb-10">
                Customers Reviews
              </h2>
  
              <!-- Slider -->
              <div class="flickity-buttons-lg flickity-buttons-offset px-lg-12" data-flickity='{"prevNextButtons": true, "pageDots": true}'>
  
                <!-- Item -->
              {% for review in  reviews %}
              <blockquote class="blockquote col-12 px-4">
                <p class="mb-6">
                    {{review.review}}
                  </p>
                  <footer class="blockquote-footer">
                    {{review.user.first_name}} {{review.user.last_name}}, <time datetime="{{review.date}}">{{review.date}}</time>
                  </footer>
                </blockquote>
              {% endfor %}
  
              </div>
  
            </div> 
          </div>
        </div>
      </section>
  
      <!-- SOCIAL -->
      <section class="pt-12">
        <div class="container bg-h-100" style="background-image: url({% static 'img/covers/cover-15.jpg' %});">
          <div class="row">
            <div class="col-12 py-13 text-center">
  
              <!-- Button -->
              <a href="/" class="btn btn-white px-8">@Jahz Collections</a>
  
            </div>
          </div>
        </div>
      </section>
  
      <!-- FEATURES -->
      <section class="py-9">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
  
              <!-- Item -->
              <div class="d-flex mb-6 mb-lg-0">
  
                <!-- Icon -->
                <i class="fe fe-truck fs-lg text-primary"></i>
  
                <!-- Body -->
                <div class="ms-6">
  
                  <!-- Heading -->
                  <h6 class="heading-xxs mb-1">
                    Free shipping
                  </h6>
  
                  <!-- Text -->
                  <p class="mb-0 fs-sm text-muted">
                    From all orders over $10000
                  </p>
  
                </div>
  
              </div>
  
            </div>
            <div class="col-12 col-md-6 col-lg-3">
  
              <!-- Item -->
              <div class="d-flex mb-6 mb-lg-0">
  
                <!-- Icon -->
                <i class="fe fe-repeat fs-lg text-primary"></i>
  
                <!-- Body -->
                <div class="ms-6">
  
                  <!-- Heading -->
                  <h6 class="mb-1 heading-xxs">
                    Free returns
                  </h6>
  
                  <!-- Text -->
                  <p class="mb-0 fs-sm text-muted">
                    Return money within 3 days
                  </p>
  
                </div>
  
              </div>
  
            </div>
            <div class="col-12 col-md-6 col-lg-3">
  
              <!-- Item -->
              <div class="d-flex mb-6 mb-md-0">
  
                <!-- Icon -->
                <i class="fe fe-lock fs-lg text-primary"></i>
  
                <!-- Body -->
                <div class="ms-6">
  
                  <!-- Heading -->
                  <h6 class="mb-1 heading-xxs">
                    Secure shopping
                  </h6>
  
                  <!-- Text -->
                  <p class="mb-0 fs-sm text-muted">
                    You're in safe hands
                  </p>
  
                </div>
  
              </div>
  
            </div>
            <div class="col-12 col-md-6 col-lg-3">
  
              <!-- Item -->
              <div class="d-flex">
  
                <!-- Icon -->
                <i class="fe fe-tag fs-lg text-primary"></i>
  
                <!-- Body -->
                <div class="ms-6">
  
                  <!-- Heading -->
                  <h6 class="mb-1 heading-xxs">
                    Over 10,000 Styles
                  </h6>
  
                  <!-- Text -->
                  <p class="mb-0 fs-sm text-muted">
                    We have everything you need
                  </p>
  
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
      </section>
{% endblock content %}