{% extends 'master.html' %}

{% block content %}
<section class="pt-7 pb-12">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Heading -->
          <h3 class="mb-10 text-center">Contact Us</h3>

        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-12 col-md-4 col-xl-3">
          <aside class="mb-9 mb-md-0">

            <!-- Heading -->
            <h6 class="mb-6">
              <i class="fe fe-phone text-primary me-4"></i> Call to Us:
            </h6>

            <!-- Text -->
            <p class="text-gray-500">
              We're available 24 hours,
              7 days a week.
            </p>
            <p>
              <strong>Customer Service:</strong><br>
              <a class="text-gray-500" href="tel:+2347017206961">+2347017206961</a>
            </p>

            <!-- Divider -->
            <hr>

            <!-- Heading -->
            <h6 class="mb-6">
              <i class="fe fe-mail text-primary me-4"></i> Write to Us:
            </h6>

            <!-- Text -->
            <p class="text-gray-500">
              Fill out our form and we will contact you
              within 24 hours.
            </p>
            <p>
              <strong>Customer Service:</strong><br>
              <a class="text-gray-500" href="mailto:jahzcollections@gmail.com">jahzcollections@gmail.com</a>
            </p>
          

            <!-- Divider -->
            <hr>

        

          </aside>
        </div>
        <div class="col-12 col-md-8">

          <!-- Form -->
          <form>

            <!-- Email -->
            <div class="form-group">
              <label class="visually-hidden" for="contactName">
                Your Name *
              </label>
              <input class="form-control form-control-sm" id="contactName" type="text" name="name" placeholder="Your Name *" required="">
            </div>

            <!-- Email -->
            <div class="form-group">
              <label class="visually-hidden" for="contactEmail">
                Your Email *
              </label>
              <input class="form-control form-control-sm" id="contactEmail" type="email" name="email" placeholder="Your Email *" required="">
            </div>

            <!-- Email -->
            <div class="form-group">
              <label class="visually-hidden" for="contactTitle">
                Title *
              </label>
              <input class="form-control form-control-sm" id="contactTitle" type="text" name="title" placeholder="Title *" required="">
            </div>

            <!-- Email -->
            <div class="form-group mb-7">
              <label class="visually-hidden" for="contactMessage">
                Message *
              </label>
              <textarea class="form-control form-control-sm" id="contactMessage" rows="5" name="message" placeholder="Message *" required=""></textarea>
            </div>

            <!-- Button -->
            <button class="btn btn-dark">
              Send Message
            </button>

          </form>

        </div>
      </div>
    </div>
  </section>
{% endblock content %}