{% extends 'master.html' %}

{% block content %}
<section class="pt-7 pb-12">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">

          <!-- Heading -->
          <h3 class="mb-10 text-center">Frequently Asked Questionss</h3>

          <!-- Heading -->
          <h5 class="mb-7">Orders:</h5>

          <!-- List group -->
          <ul class="list-group list-group-flush-x mb-9" id="faqCollapseParentOne">
            <li class="list-group-item">

              <!-- Toggle -->
              <a class="dropdown-toggle d-block fs-lg fw-bold text-reset" data-bs-toggle="collapse" href="#faqCollapseOne">
                1. How do I pay for an Item?
              </a>

              <!-- Collapse -->
              <div class="collapse" id="faqCollapseOne" data-bs-parent="#faqCollapseParentOne">
                <div class="mt-5">
                  <p class="mb-0 fs-lg text-gray-500">
                    You get referred to the company's business whatsapp with the Id of the product. And you get to pay on delivery.
                  </p>
                </div>
              </div>

            </li>
            <li class="list-group-item">

              <!-- Toggle -->
              <a class="dropdown-toggle d-block fs-lg fw-bold text-reset" data-bs-toggle="collapse" href="#faqCollapseTwo">
                2. How authentic are the Products
              </a>

              <!-- Collapse -->
              <div class="collapse" id="faqCollapseTwo" data-bs-parent="#faqCollapseParentOne">
                <div class="mt-5">
                  <p class="mb-0 fs-lg text-gray-500">
                   Our products are 100% authentic and we guarantee customer satisfaction.
                  </p>
                </div>
              </div>

            </li>
          </ul>
            {% comment %} <li class="list-group-item">

              <!-- Toggle -->
              <a class="dropdown-toggle d-block fs-lg fw-bold text-reset" data-bs-toggle="collapse" href="#faqCollapseThree">
                3. Waters one you'll creeping?
              </a>

              <!-- Collapse -->
              <div class="collapse" id="faqCollapseThree" data-bs-parent="#faqCollapseParentOne">
                <div class="mt-5">
                  <p class="mb-0 fs-lg text-gray-500">
                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights seasons. Fourth
                    hath rule creepeth own lesser years itself so seed fifth for grass.
                  </p>
                </div>
              </div>

            </li> {% endcomment %}
            {% comment %} <li class="list-group-item">

              <!-- Toggle -->
              <a class="dropdown-toggle d-block fs-lg fw-bold text-reset" data-bs-toggle="collapse" href="#faqCollapseFour">
                4. Fowl, given morning seed fruitful kind beast be?
              </a>

              <!-- Collapse -->
              <div class="collapse" id="faqCollapseFour" data-bs-parent="#faqCollapseParentOne">
                <div class="mt-5">
                  <p class="mb-0 fs-lg text-gray-500">
                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights seasons. Fourth
                    hath rule creepeth own lesser years itself so seed fifth for grass.
                  </p>
                </div>
              </div>

            </li>
          </ul> {% endcomment %}

          <!-- Heading -->
          <h5 class="mb-7">Shipping & Returns:</h5>

          <!-- List group -->
          <ul class="list-group list-group-flush-x mb-9" id="faqCollapseParentTwo">
            <li class="list-group-item">

              <!-- Toggle -->
              <a class="dropdown-toggle d-block fs-lg fw-bold text-reset" data-bs-toggle="collapse" href="#faqCollapseFive">
                1. What is your return policy?
              </a>

              <!-- Collapse -->
              <div class="collapse" id="faqCollapseFive" data-bs-parent="#faqCollapseParentTwo">
                <div class="mt-5">
                  <p class="mb-0 fs-lg text-gray-500">
                    We offer a 100% satisfaction guarantee on all of our jewelry. If you are not satisfied with your purchase, you can return it for a full refund within 3 days of purchase.
                  </p>
                </div>
              </div>

            </li>
            <li class="list-group-item">

              <!-- Toggle -->
              <a class="dropdown-toggle d-block fs-lg fw-bold text-reset" data-bs-toggle="collapse" href="#faqCollapseSix">
                2. Do you offer shipping?
              </a>

              <!-- Collapse -->
              <div class="collapse" id="faqCollapseSix" data-bs-parent="#faqCollapseParentTwo">
                <div class="mt-5">
                  <p class="mb-0 fs-lg text-gray-500">
                    Yes, we offer shipping to all major destinations. Shipping rates are calculated based on the destination and the weight of your order.
                  </p>
                </div>
              </div>

            </li>
            <li class="list-group-item">

              <!-- Toggle -->
              <a class="dropdown-toggle d-block fs-lg fw-bold text-reset" data-bs-toggle="collapse" href="#faqCollapseSeven">
                3. Do you offer gift wrapping?
              </a>

              <!-- Collapse -->
              <div class="collapse" id="faqCollapseSeven" data-bs-parent="#faqCollapseParentTwo">
                <div class="mt-5">
                  <p class="mb-0 fs-lg text-gray-500">
                    Yes, we offer gift wrapping for all of our jewelry. Gift wrapping is available for an additional fee.
                  </p>
                </div>
              </div>

            </li>
            {% comment %} <li class="list-group-item">

              <!-- Toggle -->
              <a class="dropdown-toggle d-block fs-lg fw-bold text-reset" data-bs-toggle="collapse" href="#faqCollapseEight">
                4. Divide called which created was?
              </a>

              <!-- Collapse -->
              <div class="collapse" id="faqCollapseEight" data-bs-parent="#faqCollapseParentTwo">
                <div class="mt-5">
                  <p class="mb-0 fs-lg text-gray-500">
                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights seasons. Fourth
                    hath rule creepeth own lesser years itself so seed fifth for grass.
                  </p>
                </div>
              </div>

            </li>
            <li class="list-group-item">

              <!-- Toggle -->
              <a class="dropdown-toggle d-block fs-lg fw-bold text-reset" data-bs-toggle="collapse" href="#faqCollapseNine">
                5. Land had man doesn't the very a doesn't?
              </a>

              <!-- Collapse -->
              <div class="collapse" id="faqCollapseNine" data-bs-parent="#faqCollapseParentTwo">
                <div class="mt-5">
                  <p class="mb-0 fs-lg text-gray-500">
                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights seasons. Fourth
                    hath rule creepeth own lesser years itself so seed fifth for grass.
                  </p>
                </div>
              </div>

            </li> {% endcomment %}
          </ul>

          <!-- Heading -->
          <h5 class="mb-7">Payment:</h5>

          <!-- List group -->
          <ul class="list-group list-group-flush-x" id="faqCollapseParentThree">
     
            <li class="list-group-item">

              <!-- Toggle -->
              <a class="dropdown-toggle d-block fs-lg fw-bold text-reset" data-bs-toggle="collapse" href="#faqCollapseTen">
                1. How do I place an order?
              </a>

              <!-- Collapse -->
              <div class="collapse" id="faqCollapseTen" data-bs-parent="#faqCollapseParentTwo">
                <div class="mt-5">
                  <p class="mb-0 fs-lg text-gray-500">
                    You can place an order online through our secure website. You can also place an order by phone or by email.
                  </p>
                </div>
              </div>

            </li>
            <li class="list-group-item">

              <!-- Toggle -->
              <a class="dropdown-toggle d-block fs-lg fw-bold text-reset" data-bs-toggle="collapse" href="#faqCollapseEleven">
                2. How long will it take to receive my order?
              </a>

              <!-- Collapse -->
              <div class="collapse" id="faqCollapseEleven" data-bs-parent="#faqCollapseParentThree">
                <div class="mt-5">
                  <p class="mb-0 fs-lg text-gray-500">
                    Orders typically ship within 24 hours. Shipping times may vary depending on the destination.
                  </p>
                </div>
              </div>

            </li>
            <li class="list-group-item">

              <!-- Toggle -->
              <a class="dropdown-toggle d-block fs-lg fw-bold text-reset" data-bs-toggle="collapse" href="#faqCollapseTwelve">
                3. What forms of payment do you accept?
              </a>

              <!-- Collapse -->
              <div class="collapse" id="faqCollapseTwelve" data-bs-parent="#faqCollapseParentThree">
                <div class="mt-5">
                  <p class="mb-0 fs-lg text-gray-500">
                    Payment on Delivery, Transfers.
                  </p>
                </div>
              </div>

            </li>
           
          </ul>

        </div>
      </div>
    </div>
  </section>

{% endblock content %}