{% extends 'master.html' %}

{% block title %}{{product.title}}, brand {{product.brand}}{% endblock title %}

{% block description %}{{product.description}}{% endblock description %}
{% block keywords %}{{product.title}}, {{product.brand}}, {{product.catalog}}{% endblock keywords %}


{% block content %}
{% load static %}

  <!-- BREADCRUMB -->
  <nav class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Breadcrumb -->
          <ol class="breadcrumb mb-0 fs-xs text-gray-400">
            <li class="breadcrumb-item">
              <a class="text-gray-400" href="{% url "home" %}">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a class="text-gray-400" href="/?category={{product.catalog}}">{{product.catalog}}</a>
            </li>
            <li class="breadcrumb-item active">
              {{product.title}}
            </li>
          </ol>

        </div>
      </div>
    </div>
  </nav>

  <!-- PRODUCT -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-6">

              <!-- Images -->
              <div class="row gx-5 mb-10 mb-md-0">
                <div class="col-6">

                  <!-- Card -->
                  <a class="card mb-4" href="#" data-bigpicture='{ "imgSrc": "{% static product.image.url %}" }'>

                    <!-- Badge -->
                    <div class="badge bg-white text-body card-badge card-badge-start text-uppercase">
                      New
                    </div>

                    <!-- Image -->
                    <img class="card-img-top" src="{% static product.image.url %}" alt="{{product.title}}">

                  </a>

                </div>
                <div class="col-6">

                  <!-- Card -->
                  <a class="card mb-4" href="#" data-bigpicture='{ "imgSrc": "{% static product.image2.url %}" }'>

                    <!-- Image -->
                    <img class="card-img-top" src="{% static product.image2.url %}" alt="{{product.title}}">

                  </a>

                </div>
                <div class="col-6">

                  <!-- Card -->
                  <a class="card" href="#" data-bigpicture='{ "imgSrc": "{% static product.image3.url %}" }'>

                    <!-- Image -->
                    <img class="card-img-top" src="{% static product.image3.url %}" alt="{{product.title}}">

                  </a>

                </div>
                <div class="col-6">

                  <!-- Card -->
                  <a class="card" href="#" data-bigpicture='{ "imgSrc": "{% static product.image4.url %}" }'>

                    <!-- Image -->
                    <img class="card-img-top" src="{% static product.image4.url %}" alt="{{product.title}}">

                  </a>

                </div>
              </div>

            </div>
            <div class="col-12 col-md-6 ps-lg-10">

              <!-- Header -->
              <div class="row mb-1">
                <div class="col">

                  <!-- Preheading -->
                  <a class="text-muted" href="{% url 'home' %}">{{product.catalog}}</a>

                </div>
                <div class="col-auto">

                  <!-- Rating -->
                  <div class="rating fs-xs text-dark" data-value="{{average}}">
                    <div class="rating-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="rating-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="rating-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="rating-item">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="rating-item">
                      <i class="fas fa-star"></i>
                    </div>
                  </div>

                  <a class="fs-sm text-reset ms-2" href="#reviews">
                    Reviews ({{len}})
                  </a>

                </div>
              </div>

              <!-- Heading -->
              <h3 class="mb-2">{{product.title}}</h3>
              <h6 ><b>Brand:</b> {{product.brand}}</h6>
              <p> Product Id: {{product.id}}</p>

              <!-- Price -->
              <div class="mb-7">
                <span class="ms-1 fs-5 fw-bold">${{product.price}}</span>
                <span class="ms-1 fs-sm">(In Stock)</span>
              </div>

              <!-- Form -->
              <form method="post" action="{% url "add_cart"  product.id %}">
                {% csrf_token %}
                <div class="form-group">

                  <!-- Label -->
                  <p class="mb-4">
                    Color: <strong id="colorCaption">{{product.color}}</strong>
                  </p>

                  <!-- Radio -->
                  <div class="mb-8 ms-n1">
                    <div class="form-check form-check-inline form-check-img">
                      <input type="radio" class="form-check-input" id="imgRadioOne" name="imgRadio" data-toggle="form-caption" data-target="#colorCaption" value="White" style="background-image: url({% static product.color.image.url %});" checked="">
                    </div>
                  </div>

                </div>
                <div class="form-group">
                  <div class="row gx-5 mb-7">
                    <div class="col-12 col-lg-auto">

                      <!-- Quantity -->
                      <select class="form-select mb-2" name="quantity">
                        <option value="1" selected="">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>

                    </div>
                    <div class="col-12 col-lg">
                        <!-- Submit -->
                        <button type="submit" class="btn w-100 btn-dark mb-2">
                          Add to Cart <i class="fe fe-shopping-cart ms-2"></i>
                        </button>

                        
                        
                      </div>
                      <div class="col-12 col-lg-auto">
                        
                        
                      </div>
                    </div>
                

                  <!-- Share -->
                  <p class="mb-0">
                    <span class="me-4">Share:</span>
                    <a class="btn btn-xxs btn-circle btn-light fs-xxxs text-gray-350" href="#!">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-xxs btn-circle btn-light fs-xxxs text-gray-350" href="#!">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-xxs btn-circle btn-light fs-xxxs text-gray-350" href="#!">
                      <i class="fab fa-pinterest-p"></i>
                    </a>
                  </p>

                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- DESCRIPTION -->
  <section class="pt-11">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Nav -->
          <div class="nav nav-tabs nav-overflow justify-content-start justify-content-md-center border-bottom">
            <a class="nav-link active" data-bs-toggle="tab" href="#descriptionTab">
              Description
            </a>
            <a class="nav-link" data-bs-toggle="tab" href="#shippingTab">
              Shipping & Return
            </a>
          </div>

          <!-- Content -->
          <div class="tab-content">
            <div class="tab-pane fade show active" id="descriptionTab">
              <div class="row justify-content-center py-9">
                <div class="col-12 col-lg-10 col-xl-8">
                  <div class="row">
                    <div class="col-12">

                      <!-- Text -->
                      <p class="text-gray-500">
                        {{product.description}}
                      </p>

                    </div>
                    <div class="col-12 col-md-6">

               
                    </div>
                 
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="shippingTab">
              <div class="row justify-content-center py-9">
                <div class="col-12 col-lg-10 col-xl-8">

                  <!-- Table -->
                  <div class="table-responsive">
                    <table class="table table-bordered table-sm table-hover">
                      <thead>
                        <tr>
                          <th>Shipping Options</th>
                          <th>Delivery Time</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Standard Shipping</td>
                          <td>Delivery in 5 - 7 working days</td>
                          <td>$8.00</td>
                        </tr>
                        <tr>
                          <td>Express Shipping</td>
                          <td>Delivery in 3 - 5 working days</td>
                          <td>$12.00</td>
                        </tr>
                        <tr>
                          <td>1 - 2 day Shipping</td>
                          <td>Delivery in 1 - 2 working days</td>
                          <td>$12.00</td>
                        </tr>
                        <tr>
                          <td>Free Shipping</td>
                          <td>
                            Living won't the He one every subdue meat replenish
                            face was you morning firmament darkness.
                          </td>
                          <td>$0.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- Caption -->
                  <p class="mb-0 text-gray-500">
                    May, life blessed night so creature likeness their, for. <a class="text-body text-decoration-underline" href="#!">Find out more</a>
                  </p>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- PRODUCTS -->
  <section class="pt-11">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Heading -->
          <h4 class="mb-10 text-center">You might also like</h4>

          <!-- Items -->
          <div class="row">
            {% for item in recommended %}
            <div class="col-6 col-sm-6 col-md-4">

              <!-- Card -->
              <div class="card mb-7 mb-md-0">

                <!-- Image -->
                <img class="card-img-top" src="{% static item.image.url %}" alt="...">

                <!-- Body -->
                <div class="card-body px-0 pb-0 bg-white">
                  <div class="row gx-0">
                    <div class="col">

                      <!-- Title -->
                      <a class="d-block fw-bold text-body" href="{% url 'product' item.id %}">
                        {{item.title}}
                      </a>

                      <!-- Category -->
                      <a class="fs-xs text-muted" href="{% url 'home' %}">
                        {{item.catalog}}
                      </a>

                    </div>
                    <div class="col-auto">

                      <!-- Price -->
                      <div class="fs-sm fw-bold text-muted">
                        ${{item.price}}
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </div>
            {% endfor %}
           
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- REVIEWS -->
  <section class="py-11" id="reviews">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Heading -->
          <h4 class="mb-10 text-center">Customer Reviews</h4>

          <!-- Header -->
          <div class="row align-items-center">
            <div class="col-12 col-md-auto">

            
            </div>
            <div class="col-12 col-md text-md-center">

            
              <!-- Rating -->
              <div class="rating text-dark h6 mb-4 mb-md-0" data-value="{{average}}">
                <div class="rating-item">
                  <i class="fas fa-star"></i>
                </div>
                <div class="rating-item">
                  <i class="fas fa-star"></i>
                </div>
                <div class="rating-item">
                  <i class="fas fa-star"></i>
                </div>
                <div class="rating-item">
                  <i class="fas fa-star"></i>
                </div>
                <div class="rating-item">
                  <i class="fas fa-star"></i>
                </div>
              </div>

              <!-- Count -->
              <strong class="fs-sm ms-2">Reviews ({{len}})</strong>

            </div>
            <div class="col-12 col-md-auto">

              <!-- Button -->
              <a class="btn btn-sm btn-dark" data-bs-toggle="collapse" href="#reviewForm">
                Write Review
              </a>

            </div>
          </div>

          <!-- New Review -->
          <div class="collapse" id="reviewForm">

            <!-- Divider -->
            <hr class="my-8">

            <!-- Form -->
            <form method="post" action="{% url "add_review" product.id %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-12 mb-6 text-center">

                  <!-- Text -->
                  <p class="mb-1 fs-xs">
                    Score:
                  </p>

                  <!-- Rating form -->
                  <div class="rating-form">

                    <!-- Input -->
                    <input class="rating-input" type="range" min="1" max="5" value="{{average}}" name="rating">

                    <!-- Rating -->
                    <div class="rating h5 text-dark" data-value="5">
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                    </div>

                  </div>

                </div>
               
                <div class="col-12">

                  <!-- Name -->
                  <div class="form-group">
                    <label class="visually-hidden" for="reviewTitle">Review Title:</label>
                    <input class="form-control form-control-sm" id="reviewTitle" type="text" name="title" placeholder="Review Title *" required="">
                  </div>

                </div>
                <div class="col-12">

                  <!-- Name -->
                  <div class="form-group">
                    <label class="visually-hidden" for="reviewText">Review:</label>
                    <textarea class="form-control form-control-sm" id="reviewText" rows="5" name="review" placeholder="Review *" required=""></textarea>
                  </div>

                </div>
                <div class="col-12 text-center">

                  <!-- Button -->
                  <button class="btn btn-outline-dark" type="submit">
                    Post Review
                  </button>

                </div>
              </div>
            </form>

          </div>

          {% for review in reviews %}
          <!-- Reviews -->
          <div class="mt-8">

            <!-- Review -->
            <div class="review">
              <div class="review-body">
                <div class="row">
                  <div class="col-12 col-md-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-xxl mb-6 mb-md-0">
                      <span class="avatar-title rounded-circle">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>

                  </div>
                  <div class="col-12 col-md">

                    <!-- Header -->
                    <div class="row mb-6">
                      <div class="col-12">

                        <!-- Rating -->
                        <div class="rating fs-sm text-dark" data-value="{{review.rating}}">
                          <div class="rating-item">
                            <i class="fas fa-star"></i>
                          </div>
                          <div class="rating-item">
                            <i class="fas fa-star"></i>
                          </div>
                          <div class="rating-item">
                            <i class="fas fa-star"></i>
                          </div>
                          <div class="rating-item">
                            <i class="fas fa-star"></i>
                          </div>
                          <div class="rating-item">
                            <i class="fas fa-star"></i>
                          </div>
                        </div>

                      </div>
                      <div class="col-12">

                        <!-- Time -->
                        <span class="fs-xs text-muted">
                          {{review.user}}, <time datetime="2019-07-25">{{review.date}}</time>
                        </span>

                      </div>
                    </div>

                    <!-- Title -->
                    <p class="mb-2 fs-lg fw-bold">
                      {{review.title}}
                    </p>

                    <!-- Text -->
                    <p class="text-gray-500">
                      {{review.review}}
                    </p>

                    <!-- Footer -->
                    
                  
                    
                    </div>

                  </div>
                </div>
              </div>
            </div>
            
            
            
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES -->
  <section class="bg-light py-9">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-lg-0">

            <!-- Icon -->
            <i class="fe fe-truck fs-lg text-primary"></i>

            <!-- Body -->
            <div class="ms-6">

              <!-- Heading -->
              <h6 class="heading-xxs mb-1">
                Free shipping
              </h6>

              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
                From all orders over $10000
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-lg-0">

            <!-- Icon -->
            <i class="fe fe-repeat fs-lg text-primary"></i>

            <!-- Body -->
            <div class="ms-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Free returns
              </h6>

              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
                Return money within 3 days
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-md-0">

            <!-- Icon -->
            <i class="fe fe-lock fs-lg text-primary"></i>

            <!-- Body -->
            <div class="ms-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Secure shopping
              </h6>

              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
                You're in safe hands
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex">

            <!-- Icon -->
            <i class="fe fe-tag fs-lg text-primary"></i>

            <!-- Body -->
            <div class="ms-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Over 10,000 Styles
              </h6>

              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
                We have everything you need
              </p>

            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
{% endblock content %}